.check {
    text-align: left;
}

.DlouhaOsa-btn {
background-color: darkgrey;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.DlouhaOsa{
position: relative;
display: inline-block;
}

.DlouhaOsa-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.DlouhaOsa-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.DlouhaOsa-content a:hover {background-color: #f1f1f1}

.DlouhaOsa:hover .DlouhaOsa-content{
display: block;
}

.DlouhaOsa:hover .DlouhaOsa-btn {
background-color: black;
}






.Cinky-btn {
background-color: darkgrey;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.Cinky{
position: relative;
display: inline-block;
}

.Cinky-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.Cinky-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.Cinky-content a:hover {background-color: #f1f1f1}

.Cinky:hover .Cinky-content {
display: block;
}

.Cinky:hover .Cinky-btn {
background-color: black;
}






.Obleceni-btn {
background-color: darkgrey;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.Obleceni{
position: relative;
display: inline-block;
}

.Obleceni-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.Obleceni-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.Obleceni-content a:hover {background-color: #f1f1f1}

.Obleceni:hover .Obleceni-content {
display: block;
}

.Obleceni:hover .Obleceni-btn {
background-color: black;
}